.dropdown {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.dropdown-input {
	border: solid 1px #f5f5f5;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);
}
.dropdown-select {
	appearance: none;
	border: 0;
	background-color: #fff;
	padding: 10px 15px;
	width: 100%;
	height: 100%;
}
