.textArea {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.textArea-label {
	font-weight: bold;
	margin-bottom: 10px;
}
.textArea-input {
	border: solid 1px #f5f5f5;
	resize: none;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);
	padding: 10px 15px;
	font-family: "Quicksand", "Arial";
}
.textArea-input::placeholder {
	color: #cecece;
}
