.postCard-body {
	padding: 15px;
}

.postCard-imageContainer {
	position: relative;
	width: 100%;
	padding-bottom: 56%;
}

.postCard-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.postCard-title {
	display: block;
	margin-bottom: 15px;
}
