.symbolCard-body {
	padding: 15px;
}
.symbolCard-imageContainer {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
}
.symbolCard-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.symbolCard-title {
	display: block;
}
